doctype 5
html
  head
    title gantt.js test page
    link(href='css/style.css', rel='stylesheet')
  body
    h1 gantt.js test page
    form(onsubmit='return ganttFormSubmit();')
      label(for='activityCount') Activity count: 
      input#activityCount(value='8')
      label(for='activityCount') Activity link rate: 
      input#activityLinkRate(value='0.2')
      input(type='submit')
    div#gantt-container
      canvas#gantt-target
    form(onsubmit='return ganttLoadData();')
      textarea#ganttData
      input(type='submit')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    script(src='lib/underscore-min.js')
    script(src='lib/xdate.js')
    script(src='js/gantt.js')
    script(src='js/test-page.js')
