doctype 5
html
  head
    title gantt.js test page
    link(href='css/style.css', rel='stylesheet')
  body
    h1 gantt.js test page
    div#gantt-container
      canvas#gantt-target
    script(src='lib/underscore-min.js')
    script(src='lib/xdate.js')
    script(src='js/gantt.js')
    script(src='js/test-page.js')
